* {
	box-sizing: border-box;
}
.main {
	min-height: 100vh;
	height: 100%;
	background: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);
	display: flex;
	flex-direction: column;
	padding-top: 60px;
}
.flexCards {
	display: flex;
}
.flexCards div {
	width: 150px;
}
.flexCardsTitle {
	display: flex;
}
.flexCardsTitle div {
	width: 150px;
	margin-bottom: 20px;
}
.components {
	width: 400px;
}
