* {
  box-sizing: border-box;
}
.main {
  height: 100vh;
  background: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBlock {
  min-height: 600px;
  min-width: 450px;
  background-color: #fff;
  border-radius: 10px;
}
.title {
  margin-top: 25px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #2d2e46;
}
.subTitle {
  margin: 55px 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #2d2e46;
}
.form {
  margin: 0 30px;
  text-align: left;
}
.formInput {
  text-align: center;
  margin-bottom: 25px;
}
.formInput input {
  width: 80%;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid grey;
  outline: none;
}
.formInput input:focus {
  border-bottom: 2px solid orange;
}
.forgotPassword {
  margin-top: 45px;
  text-align: right;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.forgotPassword span {
  padding: 4px;
}
.forgotPassword span:hover {
  border-radius: 15px;
  cursor: pointer;
  background-color: #e5e5e5;
}
.loginButton {
  display: block;
  min-width: 260px;
  color: white;
  height: 35px;
  background: #2f36ae;
  margin: 90px auto 30px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
}
.loginButton:hover {
  background-color: #131771;
}
.loginButton:active {
  background-color: #080b44;
}
.askAboutAccount {
  font-family: SF UI Display;
  color: #9393a2;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.askAboutAccount span {
  padding: 4px;
}
.askAboutAccount span:hover {
  border-radius: 15px;
  cursor: pointer;
  background-color: #e5e5e5;
}

.singUp {
  margin: 10px 0 30px 0;
  cursor: pointer;
}
.singUp span {
  padding: 5px;
}

.singUp span:hover {
  border-radius: 15px;
  cursor: pointer;
  background-color: #e5e5e5;
}
